.m-box {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}

.s-box {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.s-box-se {
    position: relative;
    top: 100px;
}

.s-box-th {
    position: relative;
    top: 200px;
}